.logo {
    position: absolute;
    top: 16px;
    left: 20px;
    width: 14%;
    height: 9%;
}

main {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: scroll;
}

button {
    margin: 10px;
    color: black;
    background-color: rgb(174, 76, 76)
}

.divCart {
    width: 95%;
    font-size: larger;
    border-radius: 30px;
    border: 1px solid brown;
    margin-top: -50px;
}

.centered {
    padding-left: 0px;
    text-align: center;
}

.moveToRegisterPage {
    padding-top: 15px;
}

.information>img {
    width: 95%;
}

.loginBox {
    margin: 20px;
}

.basicData {
    margin: 20px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 30px;
    font-family: fantasy;
    color: brown;
}

.basicData>img {
    width: 88%;
    margin-top: 25px;
    margin-bottom: 20px;
}

.basicData>div {
    margin-bottom: 40px;
}

form>* {
    margin: 10px;
}

h2 {
    color: brown;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    font-size: medium;
    border-radius: 20px;
    border-color: brown;
}

.removeCssButton {
    background: transparent;
    color: brown;
    font-weight: bolder;
    border: none;
    font-size: medium;
}

.welcomeCss {
    font-size: larger;
    text-align: center;
    margin-top: 65px;
    color: brown;
    font-weight: bold;
    font-family: fantasy;
}

.redirectToAnotherPage {
    background: none;
    color: brown;
    border: none;
    padding: 5px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
}

input {
    width: 20vw;
    border-radius: 20px;
    border-color: brown;
    text-align: center;

}

.logoutBtn {
    position: absolute;
    top: 43px;
    right: 0;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: none;
    color: brown;
}

.warningValidate {
    color: red;
    font-size: small;
}

.welcomeMessage {
    position: absolute;
    top: 57px;
    right: 100px;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: none;
}

.notification {
    color: rgb(197, 200, 7);
}